{% extends 'base.html' %}
{% block content %}
<form id="login-form" action="{{ request.path }}" method="post" role="form" class="box col-sm-3 col-md-6">
    {% csrf_token %}

    {% if errors %}
    <div class="alert alert-danger small">
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email"
            value="">
    </div>

    <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-primary mt-3"
        value="Ver info.">

    <!--nuevo rgistro-->
    <div class="form-group">
        <a href="registro/" class="btn btn-primary mt-3">Registrarse</a>
    </div>
</form>
{% endblock %}

{% block javascript %}
<script>
</script>
{% endblock %}
</script>