{% extends 'base.html' %}
{% block content %}
<div class="p-5 container-sm">
    <form action="{{ request.path }}" method="post" class="box col-sm-12 col-lg-6 mt-5" enctype="multipart/form-data">
        {% csrf_token %}

        {% if errors %}
        <div class="alert alert-danger small">
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <input type="hidden" value="{{ usuario.uuid }}" name="uuid">

        <div class="d-flex flex-column align-items-center">
            <div class="rounded-circle" style="width: 15rem; height: 15rem;">
                {% if usuario.foto %}
                <img src="{{ usuario.foto.url }}" alt="" class="rounded-circle img-fluid" id="img-preview">
                {% else %}
                <img alt="foto" class="rounded-circle img-fluid" id="img-preview">
                {% endif %}

            </div>

            <div class="mt-2">
                <pre>{{csv_path}}</pre>
                <a href="{{csv_path}}" class="btn btn-secondary" target="_blank">
                    Descargar Perfil.csv
                </a>
            </div>

            <div class="form-group mt-2">
                <input type="file" class="form-control" id="foto" placeholder="Foto" name="foto" accept="image/*"
                    onchange="previewImg(this)">
            </div>
        </div>

        <fieldset class="mt-2">
            <legend>Datos Generales</legend>

            <div class="row">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre"
                        value="{{ usuario.nombre }}">
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" placeholder="Apellido" name="apellido"
                        value="{{ usuario.apellido }}">
                </div>
                <div class="form-group">
                    <label for="dni">DNI</label>
                    <input type="text" class="form-control" id="dni" placeholder="DNI" name="dni"
                        value="{{ usuario.dni }}">
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="fechaNacimiento">Fecha de Nacimiento</label>
                        <input type="date" class="form-control" id="fechaNacimiento" placeholder="Fecha de Nacimiento"
                            name="fecha_nacimiento" value="{{ usuario.fecha_nacimiento | date:'Y-m-d' }}">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="telefono">Telefono</label>
                        <input type="text" class="form-control" id="telefono" placeholder="Telefono" name="telefono"
                            value="{{ usuario.telefono }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="direccion">Direccion</label>
                    <input type="text" class="form-control" id="direccion" placeholder="Direccion" name="direccion"
                        value="{{ usuario.direccion }}">
                </div>
                <div>
                    <label for="sexo">Sexo</label>
                    <div class="form-check form-check-inline">
                        {% if usuario.sexo == "M" %}
                        <input class="form-check-input" type="radio" name="sexo" id="sexo" value="M" checked>
                        {% else %}
                        <input class="form-check-input" type="radio" name="sexo" id="sexo" value="M">
                        {% endif %}

                        <label class="form-check-label" for="sexo">Masculino</label>
                    </div>
                    <div class="form-check form-check-inline">

                        {% if usuario.sexo == "F" %}
                        <input class="form-check-input" type="radio" name="sexo" id="sexo" value="F" checked>
                        {% else %}
                        <input class="form-check-input" type="radio" name="sexo" id="sexo" value="F">
                        {% endif %}
                        <label class="form-check-label" for="sexo">Femenino</label>
                    </div>
                </div>
            </div>
        </fieldset>


        <fieldset>
            <legend>Datos de Usuario</legend>

            <div class="row">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" name="email"
                        value="{{ usuario.email }}">
                </div>
            </div>
        </fieldset>

        <button type="submit" class="btn btn-primary mt-3">Editar</button>
    </form>
</div>
{% endblock %}

{% block javascript %}
<script>
    function previewImg(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('img-preview').setAttribute('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
{% endblock %}
</script>