{% extends 'base.html' %}
{% block content %}
<div class="p-5 container-sm">
    <form action="{{ request.path }}" method="post" class="box col-sm-12 col-lg-6 mt-5" enctype="multipart/form-data">
        {% csrf_token %}

        {% if errors %}
        <div class="alert alert-danger small">
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="d-flex flex-column align-items-center">
            <div class="rounded-circle" style="width: 15rem; height: 15rem;">
                <img src="" alt="" class="rounded-circle img-fluid" id="img-preview">
            </div>

            <div class="form-group mt-2">
                <input type="file" class="form-control" id="foto" placeholder="Foto" name="foto" accept="image/*"
                    onchange="previewImg(this)">
            </div>
        </div>

        <fieldset class="mt-2">
            <legend>Datos Generales</legend>

            <div class="row">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre">
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" placeholder="Apellido" name="apellido">
                </div>
                <div class="form-group">
                    <label for="dni">DNI</label>
                    <input type="text" class="form-control" id="dni" placeholder="DNI" name="dni">
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="fechaNacimiento">Fecha de Nacimiento</label>
                        <input type="date" class="form-control" id="fechaNacimiento" placeholder="Fecha de Nacimiento"
                            name="fecha_nacimiento">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="telefono">Telefono</label>
                        <input type="text" class="form-control" id="telefono" placeholder="Telefono" name="telefono">
                    </div>
                </div>
                <div class="form-group">
                    <label for="direccion">Direccion</label>
                    <input type="text" class="form-control" id="direccion" placeholder="Direccion" name="direccion">
                </div>
                <div>
                    <label for="sexo">Sexo</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sexo" id="sexo" value="M">
                        <label class="form-check-label" for="sexo">Masculino</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="sexo" id="sexo" value="F">
                        <label class="form-check-label" for="sexo">Femenino</label>
                    </div>
                </div>
            </div>
        </fieldset>


        <fieldset>
            <legend>Datos de Usuario</legend>

            <div class="row">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                </div>
            </div>
        </fieldset>

        <button type="submit" class="btn btn-primary mt-3">Guardar</button>
    </form>
</div>
{% endblock %}

{% block javascript %}
<script>
    function previewImg(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('img-preview').setAttribute('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
{% endblock %}
</script>